.collapse-css-transition {
  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sticky,
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top {
  position: absolute;
}

.disabled {
  opacity: 0.5;
  * {
    cursor: default !important;
  }

  &:hover {
    * {
      color: inherit !important;
    }
  }
}

section {
  text-align: center;
  padding: 10px;
  padding-bottom: 160px;
}

.section-title {
  padding-bottom: 50px;
  font-family: "Comfortaa";
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.flex-gap {
  margin: 0 auto;
}

/************ navigation ***********/
.header-bar {
  background: var(--nav-bg-color);
  transition: 1000ms transform;
  z-index: 50;
  transition: $transitionTheme, transform 500ms, box-shadow 500ms;
}

.header-bar-inner {
  display: flex;
  max-width: 1400px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  background: var(--nav-bg-color);
  color: var(--secondary-txt-color);
  box-shadow: 0px 15px 32px -7px #00000042;
  z-index: 49;
  top: 60px;
  transition: $transitionTheme, transform 500ms, box-shadow 500ms;
}

.nav-mobile-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px;
}

.nav-list {
  margin: 10px 0;
}

.nav-list-link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--nav-txt-color);
  padding: 0.5em;
  transition: 500ms color;

  &::after {
    position: absolute;
    content: "";
    top: -5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 100%;
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
    transition: transform 500ms;
  }

  &:hover,
  &.focus-visible {
    color: #fff;

    &::after {
      transform: scaleX(1);
    }
  }
}

.nav-desktop-group {
  display: none;
}

.nav-list-btn {
  color: var(--nav-txt-color);
  border: none;
  background: none;
  padding: 0;

  &::after {
    display: none;
  }

  // Remove IE button push effects
  &:focus .btn-no-effect,
  &:active .btn-no-effect {
    position: relative;
  }
}

.nav-btn {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;

  // Remove IE button push effects
  &:focus .btn-no-effect,
  &:active .btn-no-effect {
    position: relative;
  }
}

.menu-line {
  height: 2px;
  background: var(--header-color);
  position: relative;
  width: 100%;
  transition: 500ms transform;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    height: inherit;
    width: 100%;
    background: inherit;
    transition: 500ms transform, 500ms top;
  }

  &::after {
    top: 6px;
  }
}

.toggle-area {
  margin: 10px auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggle-area-item {
  text-align: left;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.toggle-area-item-label {
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.settings-chevron {
  display: inline-block;
  margin-left: 10px;
  transition: 500ms transform;
  &.up {
    transform: rotate(-180deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  // padding is not working from parent
  // margin-right: 10px;
}

// make input same size as toggle,
// so that the outline from the screen reader
// matches toggle
.switch input {
  opacity: 0;
  width: 100%;
  height: 110%;
  position: absolute;
  top: -5px;
  left: -4px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.custom-toggle {
  &:checked + .slider {
    background: #030f27;
  }

  &.focus-visible + .slider:before {
    box-shadow: 0 0 0 12px #ffffff6e;
  }
}

.custom-toggle:focus + .slider {
  box-shadow: 0 0 1px #030f27;
}

.custom-toggle:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logo {
  height: 28px;
  svg {
    height: 100%;
  }
}

.logo a {
  color: var(--header-color);
  display: inline-block;
  height: 100%;
  transition: 500ms color;

  &:hover,
  &.focus-visible {
    color: #fff;
  }
}

.logo-text-secondary {
  transition: 500ms fill-opacity;
}

//activators

.active.nav-list-link {
  color: #fff;
}

.active .menu-line {
  transform: rotate(225deg);

  &::before,
  &::after {
    top: 0;
    transform: rotate(90deg);
  }
  &::after {
    height: 0;
  }
}

.hide.header-bar {
  transform: translateY(-100%);
}

.hide.nav-mobile {
  box-shadow: 0px 15px 32px -7px #00000000;
  transform: translateY(-150%);
}

.shadow.header-bar {
  box-shadow: 0 2px 12px -3px #00000066;
  transition: $transitionTheme, transform 500ms, box-shadow 500ms 300ms;
}

// Since menu slides under from header, it's shadow
// covers the menu as the header is transitioning out.
// In order to make menu appear as extension rather than seperate,
// this new class adds a new transition where the shadow leaves
// immediately
.shadow-quick.header-bar {
  transition: $transitionTheme, transform 500ms, box-shadow 100ms;
}

/************ About Me ************/

.about-me {
  padding: 0;
  margin-bottom: 160px;
}

.about-me-area {
  position: relative;
  padding: 60px 10px 60px 10px;
  // min-height: 80vh;
  background: var(--nav-bg-color);
  color: var(--secondary-txt-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: $transitionTheme;
}

.about-me-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 112px;
  color: var(--hero-color);
  transition: 500ms color;
  overflow: hidden;

  svg {
    width: 100%;
  }
}

.about-me-background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 112px;
  color: var(--nav-bg-color);
  transition: 500ms color;
  svg {
    width: 100%;
  }
}
.about-me-area-content {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.about-me-contact {
  display: flex;
  flex-direction: column;
}

.contact-item {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 700;
}

.contact-city {
  text-transform: uppercase;
}

.contact-email {
  text-decoration: none;
  font-weight: 400;

  &:hover,
  &.focus-visible {
    color: var(--btn-bg-focus);
    text-decoration: underline;
  }
}

.about-me-area-img {
  width: 160px;
  margin: auto auto;

  svg {
    width: 100%;
    height: 100%;
  }
}

.about-me-logo {
  margin-top: 50px;
  height: 50px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.about-me-area-pg {
  position: relative;
  padding: 0 20px;
  margin: 45px 0;
  line-height: 2.2;
  text-align: left;
  font-size: 1.15rem;
}

.about-me-social-links {
  position: relative;
  margin-top: -35px;
  color: var(--card-txt);
  transition: $transitionTheme;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: var(--primary-bg);
    transition: inherit;
  }
}

.social-links {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 250px;
  padding: 15px;
  background: var(--primary-bg);
  border-radius: 15px;
  box-shadow: 0px 16px 12px -7px #0000000f;
  transition: $transitionTheme;

  a {
    font-size: 30px;
    transition: color 500ms;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--btn-bg-focus);
    }
  }
}

/************ Skills **************/

.skills {
}
.skills-group {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

#gradient-to-solid {
  stop {
    stop-color: var(--icon-color);
  }
}

#match-background {
  stop {
    stop-color: var(--primary-bg);
  }
}

.skills-item {
  color: var(--icon-color);
  text-align: center;
  font-size: 0.725rem;
  font-weight: 700;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // RIP CSS animations for IE
  // .clipPath-circle {
  //   transform: scale(0);
  //   transition: 800ms;
  // transform-origin: center;
  // }
  // &:hover,
  // &:focus {
  // .clipPath-circle {
  //   transform: scale(20);
  //   transition: 1500ms;
  // }
  // }
}

/************ Projects **************/

.projects {
}

.card {
  margin: 10px 10px;
  max-width: 475px;
  background: var(--card-bg);
  border-radius: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: var(--card-txt);
  box-shadow: 0 8px 16px 1px #2d2d2d42;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-content {
  text-align: center;
  padding: 0px 15px 15px;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 0 14px 24px -6px #13131391;
}

.card-title {
  order: 1;
}
.card-link-container {
  order: 2;
}
.card-pg {
  font-size: 1.25rem;
  // text-align: center;
  line-height: 1.5;
  order: 3;
}

.card-link-item {
  display: inline-block;
  background: var(--btn-bg);
  color: var(--btn-txt);
  // When there's border radius ,if the type of element is inline,
  // it will have extremely faint broken secondary border,
  // I think what's happening is parts of element's content is bigger than the border
  // The fix is to set the element to block
  border: 2px solid var(--btn-border);
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 5px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 500ms background-color, 500ms color;

  &:hover,
  &.focus-visible {
    background: var(--btn-bg-focus);
    color: var(--btn-txt-focus);
  }
}
/************ footer ***********/

.pfooter {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  background: var(--nav-bg-color);
  color: var(--nav-txt-color);
}

.pfooter-contact {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.pfooter-contact-item {
  margin-bottom: 20px;
  font-size: 1.25rem;
  // text-decoration: none;
  & > a {
    transition: 500ms color;
    &:hover {
      color: var(--btn-bg-focus);
      transition: 500ms color;
    }
  }
}

.pfooter-social {
  display: flex;
  justify-content: space-around;
  font-size: 1.55rem;
}

.pfooter-social-item-link {
  transition: 500ms color;
  &:hover {
    color: var(--btn-bg-focus);
  }
}

/********** coding-activity ******/

.coding-activity-title {
  margin-bottom: 5px;
  padding-bottom: 0;
}

/************** chart **************/
#chartobject-1 {
  margin-left: -40px !important;
}

.legendGroupText {
  text {
    fill: var(--card-txt);
    // font-size: 15px !important;
    font-weight: bold !important;
  }
}

.legendGroupClip {
  clip-path: none !important;
}

.toolbarContent {
  text {
    fill: var(--graph-color);
  }

  path {
    stroke: var(--graph-color);
  }
}

.hideScrollGroup,
.creditGroup {
  display: none;
}

.gridLineGroup {
  opacity: 0.15;
  path {
    stroke: var(--graph-color);
  }
}

.canvasTropo {
  path {
    stroke: var(--graph-color);
  }
}

.axisLeft,
.axisBottom {
  text {
    fill: var(--graph-color);
    font-size: 15px !important;
  }
  path {
    stroke: var(--graph-color);
  }
}

.axisLeft {
  g:first-child {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.fusioncharts-container {
  height: 600px !important;
  svg {
    height: 600px !important;
  }
}

@media (min-width: 400px) {
  .skills-group {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
}

@media (min-width: 600px) {
  .nav-mobile-group {
    .nav-list {
      display: none;
    }
  }
  .nav-desktop-group {
    display: flex;
    justify-content: space-around;
  }

  .header-bar-inner {
    padding: 10px 50px;
  }

  .pfooter-social {
    font-size: 2.125rem;
  }
}
@media (min-width: 755px) {
  .skills-item {
    font-size: 0.925rem;
  }
  .pfooter {
    flex-direction: row;
    justify-content: center;
    padding: 50px 10px;
  }
  .pfooter-contact {
    text-align: left;
    margin-right: 150px;
  }
  .pfooter-social-item {
    margin-right: 50px;
  }
}

@media (min-width: 800px) {
  .card {
    max-width: 355px;
  }
  .nav-desktop {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .skills-item {
    font-size: 1.15rem;
  }
  .header-bar-inner {
    padding: 10px 80px;
  }

  .about-me-area {
    padding: 60px 80px 30px;
  }

  .about-me-area-content {
    display: flex;
    max-width: 1235px;
    width: 100%;
    margin: 0 auto;
    min-height: 65vh;
    align-items: center;
    justify-content: space-between;
  }

  .about-me-area-pg {
    padding: 0;
    padding-left: 55px;
    width: 60%;
  }

  .about-me-logo {
    height: 100%;
  }
  .about-me-contact {
    text-align: left;
  }
  .contact-item {
    font-size: 1.5rem;
  }
}

@media (min-width: 1100px) {
  .card {
    max-width: 500px;
  }
}
