.collapse-css-transition {
  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sticky,
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top {
  position: absolute;
}

.disabled {
  opacity: 0.5;
  * {
    cursor: default !important;
  }

  &:hover {
    * {
      color: inherit !important;
    }
  }
}

section {
  text-align: center;
  margin-bottom: 160px;
  padding: 10px;
}

.section-title {
  padding-bottom: 50px;
  font-family: "Comfortaa";
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.flex-gap {
  margin: 0 auto;
}

/************ navigation ***********/
.header-bar {
  display: flex;
  background: var(--primary-txt-color);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  transition: 1000ms transform;
  z-index: 3;
  transition: $transitionTheme, transform 500ms, box-shadow 500ms, top 1s ease;
}

.nav-mobile {
  background: var(--primary-txt-color);
  color: var(--secondary-txt-color);
  box-shadow: 0px 15px 32px -7px #00000042;
  z-index: 2;
  top: 60px;
  transition: $transitionTheme, transform 500ms, box-shadow 500ms, top 1s ease;
}

.nav-mobile-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-list {
  margin: 10px 0;
}

.nav-list-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5em;
  transition: 500ms color;

  &:hover,
  &.focus-visible {
    color: #fff;
  }
}

.nav-list-btn {
  color: var(--nav-txt-color);
  border: none;
  background: none;
}

.nav-btn {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.menu-line {
  height: 2px;
  background: var(--primary-bg);
  position: relative;
  transition: 500ms transform;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    height: inherit;
    width: 100%;
    background: inherit;
    transition: 500ms transform, 500ms top;
  }

  &::after {
    top: 6px;
  }
}

.settings-chevron {
  display: inline-block;
  margin-left: 10px;
  transition: 500ms transform;
  &.up {
    transform: rotate(-180deg);
  }
}

.tgl {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    display: block;
    outline: none;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-btn {
  &.focus-visible {
    &:after {
      box-shadow: 0 0 0 15px #ffffff6e;
    }
  }
}

// themes
.tgl-light {
  + .tgl-btn {
    background: #ccc;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }
  }

  &:checked + .tgl-btn {
    background: #030f27;
  }
}

.logo {
  height: 28px;
  svg {
    height: 100%;
  }
}

.logo a {
  color: var(--primary-bg);
  display: inline-block;
  height: 100%;
  transition: 500ms color;

  &:hover,
  &:focus {
    color: #fff;
  }
}

.logo-text-secondary {
  transition: 500ms fill-opacity;
}

//activators

.active > .menu-line {
  transform: rotate(225deg);

  &::before,
  &::after {
    top: 0;
    transform: rotate(90deg);
  }
  &::after {
    height: 0;
  }
}

.hide.header-bar {
  transform: translateY(-100%);
}

.hide.nav-mobile {
  box-shadow: 0px 15px 32px -7px #00000000;
  transform: translateY(-150%);
}

.shadow.header-bar {
  box-shadow: 0 2px 12px -3px #00000066;
}

/************ About Me ************/

.about-me {
  padding: 0;
}

.about-me-area {
  padding: 60px 10px 30px 10px;
  min-height: 80vh;
  background: var(--primary-txt-color);
  color: var(--secondary-txt-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: $transitionTheme;
}

.about-me-area-img {
  width: 180px;
  margin: auto auto;

  svg {
    width: 100%;
    height: 100%;
  }
}

.about-me-social-links {
  background: var(--primary-txt-color);
  position: relative;
  color: #ccc;
  transition: $transitionTheme;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: var(--primary-bg);
    transition: inherit;
  }
}

.toggle-area {
  margin: 10px auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggle-area-item {
  text-align: left;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.toggle-area-item-label {
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.social-links {
  width: 250px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background: var(--primary-bg);
  border-radius: 15px;
  box-shadow: 0px 16px 12px -7px #0000000f;
  position: relative;
  z-index: 1;
  transition: $transitionTheme;

  a {
    font-size: 30px;
    transition: color 500ms;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--primary-txt-color);
    }
  }
}

/************ Skills **************/

.skills {
}
.skills-group {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

@media (min-width: 400px) {
  .skills-group {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
}

// .skills-icons-hue-color {
//   flood-color: var(--primary-txt-color);
// }

#gradient-to-solid {
  stop {
    stop-color: var(--primary-txt-color);
  }
}

#match-background {
  stop {
    stop-color: var(--primary-bg);
  }
}

.skills-item {
  color: var(--primary-txt-color);
  text-align: center;
  font-size: 0.625rem;
  font-size: 0.725rem;
  font-weight: 700;

  .clipPath-circle {
    transform: scale(0);
    transition: 800ms;
    transform-origin: center;
  }
  &:hover,
  &:focus {
    .clipPath-circle {
      transform: scale(20);
      transition: 1500ms;
    }
  }
}

/************ Projects **************/

.projects {
}

.card {
  margin: 10px 10px;
  max-width: 475px;
  background: var(--card-bg);
  border-radius: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: var(--card-txt);
  box-shadow: 0 8px 16px 1px #2d2d2d42;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  .card {
    max-width: 355px;
  }
}

@media (min-width: 1100px) {
  .card {
    max-width: 500px;
  }
}
.card-content {
  text-align: center;
  padding: 0px 15px 15px;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 0 14px 24px -6px #13131391;
}

.card-title {
  order: 1;
}
.card-link-container {
  order: 2;
}
.card-pg {
  font-size: 1.25rem;
  // text-align: center;
  line-height: 1.5;
  order: 3;
}

.card-link-item {
  background: var(--primary-txt-color);
  color: var(--btn-txt);
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 5px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 500ms background-color, 500ms color;

  &:hover,
  &.focus-visible {
    background: var(--btn-bg-focus);
    color: var(--btn-txt-focus);
  }
}

/********** coding-activity ******/

.coding-activity-title {
  margin-bottom: 5px;
  padding-bottom: 0;
}

/************** chart **************/
#chartobject-1 {
  margin-left: -40px !important;
}

.legendGroupText {
  text {
    fill: var(--primary-txt-color);
    // font-size: 15px !important;
    font-weight: bold !important;
  }
}

.legendGroupClip {
  clip-path: none !important;
}

.toolbarContent {
  text {
    fill: var(--primary-txt-color);
  }

  path {
    stroke: var(--primary-txt-color);
  }
}

.hideScrollGroup,
.creditGroup {
  display: none;
}

.gridLineGroup {
  opacity: 0.15;
  path {
    stroke: var(--primary-txt-color);
  }
}

.canvasTropo {
  path {
    stroke: var(--primary-txt-color);
  }
}

.axisLeft,
.axisBottom {
  text {
    fill: var(--primary-txt-color);
    font-size: 15px !important;
  }
  path {
    stroke: var(--primary-txt-color);
  }
}

.axisLeft {
  g:first-child {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.fusioncharts-container {
  height: 600px !important;
  svg {
    height: 600px !important;
  }
}
