* {
  box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-bg);
  color: var(--primary-txt-color);
  transition: $transitionTheme;
}

#root {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

button {
  cursor: pointer;
  font: inherit;
}
a {
  color: inherit;
}
