$nav-txt-color: #0303a3;
$primary-txt-color: #5396f0;
$secondary-txt-color: #0303a3;
$card-bg: #231d55;
$card-txt: #9288dc;
$btn-txt: #000;
$primary-bg: #030f27;
$transitionTheme: 800ms background-color;

:root {
  --nav-txt-color: #{$nav-txt-color};
  --primary-txt-color: #{$primary-txt-color};
  --secondary-txt-color: #{$secondary-txt-color};
  --primary-bg: #{$primary-bg};
  --card-bg: #{$card-bg};
  --card-txt: #{$card-txt};
  --btn-txt: #{$btn-txt};
}
