$header-color: #fff;
$nav-txt-color: #ffffffad;
$nav-bg-color: #2d42a8;
$primary-txt-color: #2d42a8;
$secondary-txt-color: #ccc;
$card-bg: #fff;
$card-txt: #888;
$btn-txt: #fff;
$btn-bg: #011daa;
$btn-border: #fff;
$btn-txt-focus: #fff;
$btn-bg-focus: #000;
$primary-bg: #fff;
$graph-color: #2d42a8;
$icon-color: #2d42a8;
$transitionTheme: 500ms background-color;

:root {
  --header-color: #{$header-color};
  --nav-txt-color: #{$nav-txt-color};
  --nav-bg-color: #{$nav-bg-color};
  --primary-txt-color: #{$primary-txt-color};
  --secondary-txt-color: #{$secondary-txt-color};
  --primary-bg: #{$primary-bg};
  --card-bg: #{$card-bg};
  --card-txt: #{$card-txt};
  --btn-txt: #{$btn-txt};
  --btn-bg: #{$btn-bg};
  --btn-border: #{$btn-border};
  --btn-txt-focus: #{$btn-txt-focus};
  --btn-bg-focus: #{$btn-bg-focus};
  --graph-color: #{$graph-color};
  --icon-color: #{$icon-color};
}
